# CMake files
CMakeCache.txt
CMakeFiles
build
cmake_install.cmake

config.h

# Object files
*.o
*.ko
*.obj
*.elf
*.Po

# Libraries
**/*.lib
**/*.a
**/*.la
**/*.lax
**/*.lo
**/*.Plo

# autoconf/automake
configure
**/Makefile
**/Makefile.in
autom4te.cache/*
compile
aclocal.m4
depcomp
install-sh
missing
stamp-h1
**/*.deps
**/*.libs
**/*.dirstamp
**/*.save

# drakvuf binaries
drakvuf
injector
xen_memclone

libtool
ltmain.sh
m4/*.m4
src/dirwatch/dirwatch
src/dirwatch/distributor
test-drive
ylwrap
