# Object files
*.o
*.ko
*.obj
*.elf
*.Po

# Libraries
**/*.lib
**/*.a
**/*.la
**/*.lax
**/*.lo
**/*.Plo

# autoconf/automake
configure
**/Makefile
**/Makefile.in
autom4te.cache/*
compile
aclocal.m4
config.*
depcomp
install-sh
missing
stamp-h1
**/*.deps
**/*.libs
**/*.dirstamp
**/*.save

# drakvuf binaries
drakvuf
injector
xen_memclone

libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/dirwatch/dirwatch
test-drive
ylwrap
