[submodule "xen"]
	path = xen
	url = https://github.com/tklengyel/xen
[submodule "libvmi"]
	path = libvmi
	url = https://github.com/tklengyel/libvmi
[submodule "rekall"]
	path = rekall
	url = https://github.com/google/rekall
