dist: bionic
language: c
compiler: clang
services:
    - docker
git:
    submodules: false

env:
    global:
        - secure: "$COVERITY_SCAN_TOKEN"

jobs:
    include:

#
# Whitespace check
#
    - env:
        - TEST="whitespace"
      script:
        - git remote add upstream https://github.com/$TRAVIS_REPO_SLUG.git
        - git fetch upstream
        - git diff --check upstream/master

#
# Astyle check
#
    - env:
        - TEST="astyle"
      before_install:
        - sudo apt-get update
        - sudo apt-get -q -y install astyle
      script:
        - export ARTISTIC_STYLE_OPTIONS=".astylerc" && astyle -Q `find . -name "*.c" -o -name ".h" -o -name ".cpp" -name ".hpp"` > astyle.out
        - TEST=$(cat astyle.out | wc -l)
        - |
          if [[ $TEST -ne 0 ]]; then
            cat astyle.out
            git --no-pager diff
            echo "Please fix style issues as shown above"
            exit 1
          fi

#
# compile tests
#
    - env:
        - TEST="compile"
      before_install:
        - sudo apt-get update
        - sudo apt-get -q -y install bison flex libjson-c-dev autoconf-archive libxen-dev
        - export INSTALLDIR=$PWD/usr/local/
        - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/usr/local/lib
        - export C_INCLUDE_PATH=$PWD/usr/local/include
        - export CPLUS_INCLUDE_PATH=$PWD/usr/local/include
        - export PKG_CONFIG_PATH="$PWD/usr/local/lib/pkgconfig/"
        - export LDFLAGS="-L$PWD/usr/local/lib"
        - export CFLAGS="-I$PWD/usr/local/include"
        - git submodule update --init libvmi
        - cd libvmi
        - autoreconf -vif
        - ./configure --prefix=${INSTALLDIR} --disable-kvm --disable-file --disable-bareflank --disable-safety-checks
        - make
        - make install
        - cd ..
      install:
        - ./autogen.sh
      script:
        - ./configure || cat config.log
        - make

    - env:
        - TEST="compile with plugin disabled"
      before_install:
        - sudo apt-get update
        - sudo apt-get -q -y install bison flex libjson-c-dev autoconf-archive libxen-dev
        - export INSTALLDIR=$PWD/usr/local/
        - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/usr/local/lib
        - export C_INCLUDE_PATH=$PWD/usr/local/include
        - export CPLUS_INCLUDE_PATH=$PWD/usr/local/include
        - export PKG_CONFIG_PATH="$PWD/usr/local/lib/pkgconfig/"
        - export LDFLAGS="-L$PWD/usr/local/lib"
        - export CFLAGS="-I$PWD/usr/local/include"
        - git submodule update --init libvmi
        - cd libvmi
        - autoreconf -vif
        - ./configure --prefix=${INSTALLDIR} --disable-kvm --disable-file --disable-bareflank --disable-safety-checks
        - make
        - make install
        - cd ..
      install:
        - ./autogen.sh
      script:
        - ./configure --disable-plugin-syscalls || cat config.log
        - make

    - env:
        - TEST="compile debug"
      before_install:
        - sudo apt-get update
        - sudo apt-get -q -y install bison flex libjson-c-dev autoconf-archive libxen-dev
        - export INSTALLDIR=$PWD/usr/local/
        - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/usr/local/lib
        - export C_INCLUDE_PATH=$PWD/usr/local/include
        - export CPLUS_INCLUDE_PATH=$PWD/usr/local/include
        - export PKG_CONFIG_PATH="$PWD/usr/local/lib/pkgconfig/"
        - export LDFLAGS="-L$PWD/usr/local/lib"
        - export CFLAGS="-I$PWD/usr/local/include"
        - git submodule update --init libvmi
        - cd libvmi
        - autoreconf -vif
        - ./configure --prefix=${INSTALLDIR} --disable-kvm --disable-file --disable-bareflank --disable-safety-checks
        - make
        - make install
        - cd ..
      install:
        - ./autogen.sh
      script:
        - ./configure --enable-debug --enable-sanitize || cat config.log
        - make

    - env:
        - TEST="compile debug with plugin disabled"
      before_install:
        - sudo apt-get update
        - sudo apt-get -q -y install bison flex libjson-c-dev autoconf-archive libxen-dev
        - export INSTALLDIR=$PWD/usr/local/
        - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/usr/local/lib
        - export C_INCLUDE_PATH=$PWD/usr/local/include
        - export CPLUS_INCLUDE_PATH=$PWD/usr/local/include
        - export PKG_CONFIG_PATH="$PWD/usr/local/lib/pkgconfig/"
        - export LDFLAGS="-L$PWD/usr/local/lib"
        - export CFLAGS="-I$PWD/usr/local/include"
        - git submodule update --init libvmi
        - cd libvmi
        - autoreconf -vif
        - ./configure --prefix=${INSTALLDIR} --disable-kvm --disable-file --disable-bareflank --disable-safety-checks
        - make
        - make install
        - cd ..
      install:
        - ./autogen.sh
      script:
        - ./configure --enable-debug --disable-plugin-syscalls || cat config.log
        - make

#
# clang scan-build
#
    - env:
        - TEST="scan-build"
      before_install:
        - sudo apt-get update
        - sudo apt-get -q -y install bison flex libjson-c-dev autoconf-archive libxen-dev
        - export INSTALLDIR=$PWD/usr/local/
        - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/usr/local/lib
        - export C_INCLUDE_PATH=$PWD/usr/local/include
        - export CPLUS_INCLUDE_PATH=$PWD/usr/local/include
        - export PKG_CONFIG_PATH="$PWD/usr/local/lib/pkgconfig/"
        - export LDFLAGS="-L$PWD/usr/local/lib"
        - export CFLAGS="-I$PWD/usr/local/include"
      install:
        - git submodule update --init libvmi
        - cd libvmi
        - autoreconf -vif
        - ./configure --prefix=${INSTALLDIR} --disable-kvm --disable-file --disable-bareflank --disable-safety-checks
        - make
        - make install
        - cd ..
        - ./autogen.sh
      script:
        - scan-build --status-bugs --use-cc=clang --use-c++=clang++ -analyze-headers -disable-checker deadcode.DeadStores ./configure --enable-debug
        - scan-build --status-bugs --use-cc=clang --use-c++=clang++ -analyze-headers -disable-checker deadcode.DeadStores make

#
# Coverity
#
    - if: branch = master
      env:
        - TEST="Coverity"
      addons:
        coverity_scan:
            project:
                name: "$COVERITY_PROJECT_NAME"
                description: "Build submitted via Travis CI"
            notification_email: $COVERITY_NOTIFICATION_EMAIL
            build_command_prepend: "./autogen.sh; ./configure --enable-debug; make clean"
            build_command:   "make"
            branch_pattern: $COVERITY_BRANCH_PATTERN
      script:
        - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then exit 0; fi'
        - sudo apt-get update
        - sudo apt-get -q -y install bison flex libjson-c-dev autoconf-archive libxen-dev
        - export INSTALLDIR=$PWD/usr/local/
        - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/usr/local/lib
        - export C_INCLUDE_PATH=$PWD/usr/local/include
        - export CPLUS_INCLUDE_PATH=$PWD/usr/local/include
        - export PKG_CONFIG_PATH="$PWD/usr/local/lib/pkgconfig/"
        - export LDFLAGS="-L$PWD/usr/local/lib"
        - export CFLAGS="-I$PWD/usr/local/include"
        - git submodule update --init libvmi
        - cd libvmi
        - autoreconf -vif
        - ./configure --prefix=${INSTALLDIR} --disable-kvm --disable-file --disable-bareflank --disable-safety-checks
        - make
        - make install
        - cd ..
        - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

#
# SonarCloud
#
    - if: branch = master
      env:
        - TEST="SonarCloud"
      dist: xenial
      addons:
        sonarcloud:
            organization: "drakvuf"
            token:
                secure: "$SONAR_TOKEN"
      script:
        - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then exit 0; fi'
        - sudo apt-get update
        - sudo apt-get -q -y install bison flex libjson-c-dev autoconf-archive libxen-dev
        - export INSTALLDIR=$PWD/usr/local/
        - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/usr/local/lib
        - export C_INCLUDE_PATH=$PWD/usr/local/include
        - export CPLUS_INCLUDE_PATH=$PWD/usr/local/include
        - export PKG_CONFIG_PATH="$PWD/usr/local/lib/pkgconfig/"
        - export LDFLAGS="-L$PWD/usr/local/lib"
        - export CFLAGS="-I$PWD/usr/local/include"
        - git submodule update --init libvmi
        - cd libvmi
        - autoreconf -vif
        - ./configure --prefix=${INSTALLDIR} --disable-kvm --disable-file --disable-bareflank --disable-safety-checks
        - make
        - make install
        - cd ..
        - ./autogen.sh
        - ./configure --enable-debug
        - build-wrapper-linux-x86-64 --out-dir bw-output make -j2
        - sonar-scanner

#
# Build binary packages and push them as releases on drakvuf-builds
#
    - if: branch = master
      env:
        - TEST="package build"
      script:
        - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then exit 0; fi'
        - git submodule update --init libvmi xen
        - travis_wait 60 sh package/build.sh;
      cache:
        directories:
          - package/cache
      before_deploy:
        - git config --local user.name "drakvuf-builds"
        - git config --local user.email "drakvuf-builds@tklsoftware.com"
        - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
        - git tag $TRAVIS_TAG
      deploy:
        provider: releases
        edge: true
        repo: tklengyel/drakvuf-builds
        file:
          - package/out/**/*
