os: linux
dist: bionic
language: c
compiler: clang
git:
    submodules: false
env:
  global:
    - INSTALLDIR=$PWD/usr/local/
    - LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$PWD/usr/local/lib
    - C_INCLUDE_PATH=$PWD/usr/local/include
    - CPLUS_INCLUDE_PATH=$PWD/usr/local/include
    - PKG_CONFIG_PATH="$PWD/usr/local/lib/pkgconfig/"
    - LDFLAGS="-L$PWD/usr/local/lib"
    - CFLAGS="-I$PWD/usr/local/include"
cache:
  ccache: true
before_install:
    - |
      export CC="ccache clang"
      export CXX="ccache clang++"
      export CPP="ccache clang-cpp"
      git submodule update --init libvmi xen
      cd xen
      ./configure --disable-pvshim
      make -j2 dist-xen
      make -j2 dist-tools
      sudo make -j2 install-xen
      sudo make -j2 install-tools
      cd ..
      cd libvmi
      autoreconf -vif
      ./configure --prefix=${INSTALLDIR} --disable-kvm --disable-file --disable-bareflank --disable-safety-checks
      make
      rm -rf $INSTALLDIR
      make install
      cd ..

jobs:
    include:

#
# Coverity
#
    - stage: cloudscan
      if: branch = master
      env:
        - TEST="Coverity"
      addons:
        apt:
          update: true
          packages:
            - bison
            - flex
            - libjson-c-dev
            - autoconf-archive
        coverity_scan:
            project:
                name: "$COVERITY_PROJECT_NAME"
                description: "Build submitted via Travis CI"
            notification_email: $COVERITY_NOTIFICATION_EMAIL
            build_command_prepend: "./autogen.sh; ./configure --enable-debug"
            build_command:   "make"
            branch_pattern: $COVERITY_BRANCH_PATTERN
      script:
        - echo -n | openssl s_client -connect scan.coverity.com:443 | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' | sudo tee -a /etc/ssl/certs/ca-

#
# SonarCloud
#
    - if: branch = master
      env:
        - TEST="SonarCloud"
      addons:
        sonarcloud:
            organization: "drakvuf"
            token: "$SONAR_TOKEN"
        apt:
            update: true
            packages:
              - bison
              - flex
              - libjson-c-dev
              - autoconf-archive
      script:
        - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then exit 0; fi'
        - ./autogen.sh
        - ./configure --enable-debug
        - build-wrapper-linux-x86-64 --out-dir bw-output make -j2
        - sonar-scanner
