name: cppcheck
on:
  pull_request:
    branches: [ master ]
jobs:
  cppcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cppcheck
        run: |
          sudo apt-get update -q
          sudo apt-get install -y cppcheck
          git submodule update --init --recursive libvmi
          cppcheck --error-exitcode=1 --force -Ilibvmi --include=libvmi/libvmi/libvmi.h ./src
